* {
  margin: 0;
  box-sizing: border-box;
}
/*START OF NAVBAR SECTION
      
      */

nav {
  width: auto;
  height: 60px;
  background-color: #6f7070;
}

nav .main-ul {
  float: right;
  margin-right: 20px;
}
nav .main-ul li {
  display: inline-block;
  line-height: 60px;
}
nav .main-ul li a {
  text-decoration: none;
  margin-left: 70px;
  font-family: "Tajawal", sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: white;
  border: 0px solid #6f7070;
  border-radius: 20px;
  transition: 0.4s;
  padding: 3px;
}
nav .main-ul li a:hover {
  background-color: white;
  color: #6f7070;
}
#toggle1 {
  display: none;
}
.bars {
  display: none;
  color: black;
  font-size: 24px;
  line-height: 0px;
  margin-right: 100px;
}
@media (max-width: 425px) {
  nav {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
  }
  .bars {
    position: absolute;
    color: white;
    display: block;
    margin-left: 340px;
    margin-top: 15px;
  }
  nav .main-ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-top: 59px;
    right: -110%;
    background-color: #6f7070;
    text-align: left;
    transition: 0.8s;
    z-index: 999999;
    border-radius: 10px;
  }
  nav .main-ul li {
    display: block;
    line-height: 0;
  }
  nav .main-ul li a {
    margin-left: 0;
    margin-right: 170px;
    display: block;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    margin-top: 80px;
  }

  #toggle1:checked ~ nav .main-ul {
    right: -170px;
  }
}
/*END OF NAVBAR SECTION
      
      */
/*START OF CONTAINER2
    
    */
.container2 {
  position: relative;
  width: auto;
  height: 10px;
  background-color: white;
  margin-top: 1px;
}
.p1 {
  font-size: 28px;
  color: #6f7070;
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  line-height: 80px;
  margin-right: 50px;
  margin-top: 50px;
  text-align: right;
}
.types-ul {
  float: left;
  margin-top: 20px;
}
.types-ul > li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0060aa;
  padding: 130px 40px;
  list-style: none;
  margin-left: 250px;
  margin-top: 50px;
  text-align: center;
  transition: 0.4s;
  max-width: 245px;
  max-height: 240px;
}
.types-ul a {
  font-size: 15px;
  font-family: "Tajawal", sans-serif;
  color: black;
  text-decoration: none;
  line-height: 20px;
  transition: 0.2s;
}
.types-ul a:hover {
  color: #6f7070;
}
.types-ul .image9 {
  display: block;
  width: 190px;
  height: 160px;
  margin-bottom: 20px;
  margin-left: 5px;
}

@media (max-width: 425px) {
  .container2 {
    z-index: -9999;
  }
  .types-ul .image4,
  .image5,
  .image7,
  .image8,
  .image9,
  .image2 {
    display: block;
    width: 170px;
    height: 180px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .image2 {
    height: 200px;
    margin-bottom: 0px;
  }
  .image5 {
    margin-bottom: 25px;
    width: 130px;
    height: 150px;
    margin-top: 15px;
  }
  .image9 {
    width: 190px;
  }
  .image6 {
    display: block;
    width: 170px;
    height: 180px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .image1 {
    display: block;
    width: 170px;
    height: 160px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .image10 {
    display: block;
    margin-left: 35px;
    width: 200px;
    height: 180px;
    margin-bottom: 20px;
  }
  .image3 {
    display: block;
    margin-left: 20px;
    width: 170px;
    height: 210px;
    margin-bottom: -10px;
  }
  .types-ul > li {
    float: none;
    margin-top: 50px;
    margin-left: 30px;
  }
  .types-ul {
    margin-top: 0px;
  }
  .p1 {
    margin-top: 80px;
    margin-right: 20px;
  }
}
